/* HOME */
*{
    box-sizing: border-box;
}

body{
    background: #ff00cc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #333399, #ff00cc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #333399, #ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header{
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.logoMG{
    height: 150px;
    filter: invert(100%);
}

h1{
    font-family:'Josefin Sans', sans-serif;
    color: white;
    text-align: center;
    margin: 4%;
    font-size: 100px;
    letter-spacing: 10px;
}



a{
    letter-spacing: 2px;
    word-spacing: 2px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.lista-header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-right: 125px;
    margin-top: 35px;
}

li{
    list-style: none;
    font-size: 25px;
    margin: 5px;
}

.rutas-header{
    letter-spacing: 2px;
    word-spacing: 2px;
}

form{ 
    align-items: flex-start;
    margin-left: 125px;
    margin-top: 75px;
}

input, button{
    font-family: 'Josefin Sans', sans-serif;
    align-self: center;
    margin: 1px;
    margin-top: 12px;
    padding: 9px;
    border: 0px white solid;
    border-radius: 50px;
    font-size: 20px;
}

button{
    color: black;
    padding: 5px;
}

.slogan{
    font-family:'Josefin Sans', sans-serif;
    color: white;
    line-height: 3px;
    
    letter-spacing: 5px;
    text-align: center;
}

h3 {
    font-family:'Josefin Sans', sans-serif;
    color: white;
}

h4{
    font-family:'Josefin Sans', sans-serif;
}

.section-titulo{
    text-align: center;
}
.h2-home{
    font-family:'Josefin Sans', sans-serif;
    color: white;
    margin-top: 120px;
    padding-bottom: 8px;
    margin-left: 80px;
    font-size: 30px;
    
}
.foot{
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px; 
    font-style: italic;
}
.section-home{
    width: 18%;
    padding: 2%; 
}

.section-home img{
    border-radius: 5%;
    width: 100%;
}

.section-home h5 a, .nombreDelArtista{
    color: rgba(245, 245, 245, 0.795);
    font-size: 15px;
}

.canciones{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

.albums{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

.artistas{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

.artistas-home{
    width: 18%;
    text-align: center; 
    padding: 2%; 
}

.artistas-home img{
    width: 100%;
    border-radius: 50%;
}

.arriba-conteiner {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 6%;
    margin-top: 6%;
}

.arriba{
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.836);
    width: 35px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

.arriba a {
    color: rgb(70, 67, 67);
    font-size: 25px;
}

/* DETALLE-CANCION */
#detalles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 400px;
    
}

.img{
    padding: 9px;
    width: 300px;
    margin-right: 45px;
}

.art-detalle{
    padding: 15px;
    margin-left: 200px;
}

.h4-artista, .h4-album, .h4-escucha, .h4-detalle, .ruta-detalle{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 22px;
}

.h4-artista, .h4-album, .h4-escucha, .ruta-detalle{
    font-size: 40px;
}

.h4-detalle{
    font-size: 30px;
}

.ruta-detalle{
    padding: 12px;
    background-color: black;
    color: white;
    font-size: 18px;
    border-radius: 22px;
    text-align: center;
}

.detalle-foto{
    border-radius: 80%;
    margin-right: 15px;
}

/* DETALLE ALBUM */

.contenedor_artistas_home {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;  
}

.detallesAlbum{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 400px;
}

.h4_album{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 40px;
}

.h4-release{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 40px;
}

.track{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 40px;
}

.lista1{
    margin: 6px
}

.top{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 22px;
    margin-left: 5%;
}

.top{
    margin: 6px;
    font-size: 35px;
    margin: 2%;
}

/* DETALLE ARTISTA */

.h-cuatro{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 22px;
    margin-left: 5%;
}

.h-cuatro{
    font-size: 40px;
}

.contenido{
    margin-left: 95px;
}


/* PLAYLIST */
.titulo-playlist{
    color: white;
    text-align: center;
    margin: 5%;
    font-size: 100px;
    padding: 30px;
}

.track_home_conteiner{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 75px;
}

/* GENEROS */
.generos{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

.genres {
    width: 23%;
    text-align: center;
    margin-top: 25px;
    padding: 3%;
}

.genres img {
    border-radius: 5%;
    width: 100%;
}

.genres h4 {
    font-family:'Josefin Sans', sans-serif;
    color: white;
    text-align: center;
    font-size: 25px;
}



.titulo-genero{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
}

.she{
    font-size: 45px;
}

.artist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.genero{
    font-size: 40px;
    font-weight: 300;
}

.genero-titulo{
    font-size: 75px;
}

/* DETALLE DE GENERO */
.genres-detail-titulo {
    font-family:'Josefin Sans', sans-serif;
    color: white;
    text-align: center;
    margin: 5%;
    font-size: 80px;
    padding: 30px;
}

.title-genreDetail{
    font-family:'Josefin Sans', sans-serif;
    color: white;
    text-align: left;
    padding-top: 70px;
    padding-bottom: 20px;
    margin: 1%;
}

/* RESULTADO BUSQUEDA */
.gif{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
}

.gif img{
    width: 30%;
}

i{
    margin: 4px;
    display: none;
}

.alerta{
    color:rgb(0, 0, 0);
    font-size: 25px;
    font-weight: bold;
}

.closeIcon{
    display: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 35px;
}

.result-titulo{
    color: white;
    text-align: left;
    margin: 1%;
    font-size: 60px;
    margin-bottom: 3%;
}

.result-relacionados{
    margin: 3%;
    font-size: 40px;
}



/* DISENO RESPONSIVE */
@media (max-width: 768px){

    /* HOME */


}

/* MOBILE */
@media (max-width: 420px){

    /* DETALLE DE CANCION */
    .titulo-detalles{
        font-size: 45px;
    }

    .h4-artista, .h4-album, .h4-escucha, .h4-detalle{
        font-size: 20px;
        width: 300px;
    }
    
    .h2-home{
        font-size: 30px;
    }

    .ruta-detalle{
        font-size: 15px;
        padding: 6px;
        width: 300px;
    }

    #detalles{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        min-height: 540px;
    }

    .art-detalle{
        width: 40%;
    }


    /* DETALLE ALBUM */
    .detallesAlbum{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start; 
    }

    

}
